*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.row1{
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
    height: 80px;
    padding: 10px;
    line-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.lang-contact{
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;
}

.lang-contact i{
    margin-right: 5px;
}

.lang-contact ul{
    float:left;
}

.lang-contact li{
    display: inline-block;
    padding: 0 20px;
}

.lang-contact ul > :first-child{
    height: 30px;
    line-height: 30px;
    border-right: 2px solid #cbd6e2;
}

.lang-contact a{
    color: #33475b;
    text-decoration: none;
    font-weight: bolder;
}

.login{
    float: right;
}

.login button{
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
        padding: 10px 15px;
}
.signin{
    color: #ff7e8c;
    background: white;
    border: 1px solid #ff7a59;
}

.get-HS{
    color: white;
    background-color: #ff7a59;
    border: none;
}

.login i{
    color: #00a4bd;
    margin-right: 20px;
}

/* FINE RIGA TOP */

.row2{
    margin-top: 80px;
    height: 90px;
}

.row2 .container{
    height: 90px;
    padding: 10px 0;
    line-height: 70px;
    position: relative;

}
.logo{
    float: left;
}

.logo img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu{
    float: right;
}

.menu li{
    display: inline-block;
    text-decoration: none;
    color: #39475b;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;
}

.menu a{
    text-decoration: none;
    color: #39475b;
}

.banner{
    background-color: #425b76;
    height: 60px;
}

.clouds{
    height: 700px;
    background-color: #fff1ee;
    border-bottom: 2px solid black;
}
