*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 7px;
}

.row1{
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
    height: 80px;
    padding: 10px;
    line-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

.lang-contact{
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;
}

.lang-contact i{
    margin-right: 5px;
}

.lang-contact ul{
    float:left;
}

.lang-contact li{
    display: inline-block;
    padding: 0 20px;
}

.lang-contact ul > :first-child{
    height: 30px;
    line-height: 30px;
    border-right: 2px solid #cbd6e2;
}

.lang-contact a{
    color: #33475b;
    text-decoration: none;
    font-weight: bolder;
}

.login{
    float: right;
}

.login button{
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 15px;
}
.signin{
    color: #ff7e8c;
    background: white;
    border: 1px solid #ff7a59;
}

.get-HS{
    color: white;
    background-color: #ff7a59;
    border: none;
}

.login i{
    color: #00a4bd;
    margin-right: 20px;
}

/* FINE RIGA TOP */

.row2{
    margin-top: 80px;
    height: 90px;
}

.row2 .container{
    height: 90px;
    padding: 10px 0;
    line-height: 70px;
    position: relative;

}
.logo{
    float: left;
}

.logo img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu{
    float: right;
}

.menu li{
    display: inline-block;
    text-decoration: none;
    color: #39475b;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;
}

.menu a{
    text-decoration: none;
    color: #39475b;
}

/* FINE RIGA NAV */

.banner{
    background-color: #425b76;
}

.banner .container{
    padding: 30px;
}

.banner-text{
    width: 85%;
    color:white;
    float: left;
    line-height: 30px;
    margin-right: 30px;
}

.banner .container button{
    font-size: 14px;
    font-weight: bold;
    color: #425b76;
    background: white;
    padding: 13px 25px;
    border: none;
    border-radius: 4px;
    float: right;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* FINE RIGA BANNER BLU */

.clouds{
    background-color: #fff1ee;
    background-image: url(https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/home/2019/clouds-desktop.svg);
}

.cloud-text{
    width: 45%;
    padding-top: 100px;
    padding-bottom: 200px;
}

.cloud-text h2{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 40px;
    color: #33475b;
}

.cloud-text p{
    letter-spacing: 1px;
    line-height: 30px;
    color: #33475b;
    padding-bottom: 20px;
}

.cloud-text button{
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #ff7a59;
    border: none;
    border-radius: 4px;
    padding: 20px 45px;
    margin-bottom: 20px;
    position: relative;
}


.cloud-text .overlay:hover {
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
}

.cloud-text h6{
    font-size: 12px;
    font-weight: normal;
    color: #33475b;
}

/* FiNE SEZIONE CLOUD */

.green-row{
    height: 100px;
    background-color: #00b69e;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

/* FINE GREEN ROW */

.big-row{
    background-color: #f5f8fa;
    padding-bottom: 150px;
}

.first-section{
    text-align: center;
    padding-top: 100px;
}

.first-section img{
    max-width: 260px;
    margin-bottom: 10px;
}

.first-section h2{
    font-size: 30px;
    color: #33475b;
    margin-bottom: 30px;
}

.first-section p{
    color: #33475b;
    line-height: 30px;
    padding-bottom: 30px;
}

.sec-section{
    background-color: white;
    text-align:center;
    box-shadow: 0 0 11px #eaf0f6;
    margin: 0 20px 40px;;
    padding: 30px;
}

.crm-box{
    width: 30%;
    float: left;
    padding: 20px 50px;
}

.sec-section:hover {
    transform: scale(101%);
    transition: 0.4s;
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}

.crm-box img{
    height: 150px;
    padding: 20px;
}

.crm-box button{
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #ff7a59;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 20px;

    position: relative;
}

.crm-box .overlay:hover {
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
}

.crm-text{
    width: 70%;
    text-align: left;
    padding-left: 80px;
    float: left;
    padding-top: 30px;
}

.crm-text h2{
    font-size: 20px;
    color: #33475b;
    padding-bottom: 20px;
}

.crm-text p{
    font-size: 13px;
    line-height: 25px;
    color: #33475b;
    padding-bottom: 20px;
}

.crm-text h5{
    color: #33475b;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.crm-text li{
    font-size: 14px;
    display: inline-block;
    color: #33475b;
    padding-right: 15px;
}

.crm-text i{
    color: #ff7a59;
    font-size: 18px;
    padding-right: 10px;
}

.card{
    width: 33.33%;
    float: left;
    padding: 0 20px;
    float:left;
}

.card .content:hover {
    transform: scale(101%);
    transition: 0.4s;
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}

.card .content {
    background-color: white;
    box-shadow: 0 0 11px #eaf0f6;
    text-align: center;
    padding: 25px;
}

.card img{
    height: 150px;
    margin-bottom: 20px;
}

.card h2{
    font-size: 18px;
    color: #33475b;
    margin-bottom: 20px;
}

.card p{
    text-align: left;
    font-size: 13px;
    line-height: 25px;
    color: #33475b;
}

.card hr{
    width: 75%;
    margin: 20px auto;
    color: #e0e6ed;
}

.card h5{
    font-size: 13px;
    margin-bottom: 20px;
    color: #33475b;
    text-transform: uppercase;
}

.card li{
    list-style: none;
    text-align: left;
    font-size: 13px;
    line-height: 25px;
    color: #33475b;
}

.card i{
    color: #ff7a59;
    font-size: 18px;
    padding-right: 10px;
}

.card button{
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #ff7a59;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 20px;
    position: relative;
}

.card .overlay:hover {
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
}

/* FINE GRANDE RIGA BIANCA... PER IL MOMENTO!! */

.emerald-row{
    background-image: linear-gradient(to right, #00a4bd, #00bba7);
    padding-bottom: 120px;
}

.emerald-text{
    text-align:center;
    color: white;
    padding: 120px;
}

.emerald-text h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.emerald-text p{
    line-height: 25px;
}

.emerald-grid .box{
    width: 25%;
    float: left;
    text-align: center;
    color: white;
    padding: 30px;
}

.top{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.dx-top{
    border-bottom: 1px solid white;
}

.bottom{
    border-right: 1px solid white;
}

.emerald-grid h2{
    margin: 10px 0;
    font-size: 40px;
}

.emerald-grid h2:after{
    content: '+';
    font-size: 30px;
    font-weight: lighter;
}

.emerald-grid p{
    font-size: 13px;
}

.after-none h2:after{
    content: '';
}

/* FINE RIGA SMERALDO */
.customer-row{
    padding: 120px 40px;
}

.description{
    width: 30%;
    float: left;
    color: #33475b;
    padding-left: 40px;
    padding-right: 50px;
}

.description h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.description p{
    font-size: 18px;
    line-height: 30px;
}

.customers-logo{
    width: 65%;
    float: right;
    padding-left: 20px;
}

.brand{
    width: 25%;
    height: 100px;
    float: left;
    text-align: center;
}

.brand img{
    max-width: 150px;
    padding: 20px 20px;
    position: relative;
    top: 30%;
    transform: translateY(-50%);


}

.second-sec{
    padding-top: 100px;
}

.start-hub{
    width: 50%;
    float: left;
    color: #33475b;
}

.start-hub h2{
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 50px;
}

.start-hub p{
    font-size: 14px;
    margin-bottom: 30px;
}

.start-hub p:last-child{
    font-size: 11px;
    margin-top: 15px;
}

.start-hub button{
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #ff7a59;
    border: none;
    border-radius: 4px;
    padding: 25px 45px;
    margin-bottom: 20px;
    position: relative;
}

.start-hub .overlay:hover {
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
}

.testimonial{
    width: 50%;
    float: left;
    text-align: right;
}

.testimonial img{
    max-width: 350px;
}

/* FINE RIGA CUSTOMER */

.footer-row{
    background-color: #33475b;
}

.list-item{
    width: 25%;
    float: left;
    padding: 0 10px;
    padding-top: 100px;
    color: white;
}

.list-item h2{
    font-size: 16px;
    font-weight: bold;
}

.list-item li{
    list-style: none;
    line-height: 40px;
    cursor: pointer;
}

.list-item li:hover a{
    color: #00a4bd;
}

.list-item a{
    text-decoration: none;
    color: #cbd6e2;
    font-size: 13px;
    text-transform: capitalize;
}

.list-item button{
    margin: 10px 0;
    background-color: white;
    color: #33475b;
    font-size: 12px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.social{
    float: right;
    padding: 20px 0;
}

.social li{
    display: inline-block;
    padding-left: 30px;
}
.social i{
    font-size: 18px;
    color: #cbd6e2;
    cursor: pointer;
}

.social li:hover i{
    color: #00a4bd;
}

.languages{
    width: 100%;
    border-bottom: 1px solid #7c98b6;
    text-align: center;
    margin-bottom: 30px;
}

.languages li{
    display: inline-block;
    text-align: center;
    color: #cbd6e2;
    font-size: 15px;
    padding: 30px 10px;
    cursor: pointer;
}

.languages li:hover {
    color: #00a4bd;
}

.hs-info{
    float: left;
}

.hs-info img{
    display: block;
}

.hs-info span{
    display: block;
    font-size: 13px;
    color: #cbd6e2;
    padding: 20px 0;
}

.policy{
    float: right;
}

.policy a{
    text-decoration: none;
    color: #cbd6e2;
    font-size: 15px;
    padding-left: 30px;
}

.policy a:hover {
    color: #00a4bd;
}
